* {
  box-sizing: border-box;
  margin: 0;
}

/* Global focus outline reset */
*:focus:not(:focus-visible) {
  outline: none;
}

:root {
  --user-font-scale: 1rem - 16px;
  --max-width: calc(100% - 1rem);
}

@media (min-width: 50em) {
  :root {
    --max-width: 46em;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-body);
  font-size: 1rem;
  font-size: clamp(0.9rem, 0.75rem + 0.375vw + var(--user-font-scale), 1rem);
  line-height: 1.5;
  max-width: 100vw;
}
body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
}

nav ul {
  list-style: none;
  padding: 0;
}

.content > section > * + *,
.content > section > blockquote > * + *,
.content > section > :is(ul, ol) > li > * + *,
.content details > * + *,
.content * > astro-slot > * + * {
  margin-top: 1.25rem;
}

ul > li > ul > li {
  line-height: 200%;
  margin-top: 5px;
  color: var(--theme-text-lighter);
}

ul > li ol > li > ul > li {
  margin-top: 10px;
  line-height: 170%;
  color: var(--theme-text-lighter);
}

ol {
  list-style: auto;
  margin-left: 1rem;
}

ul:not(details > ul, .nav-groups) {
  list-style: disc;
  margin-left: 1rem;
}

.content > section > :is(ul, ol) > li > * + * {
  margin-bottom: 1.25rem;
}

.content > section > :first-child {
  margin-top: 0;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1;
}

h1,
h2 {
  max-width: 40ch;
}

:is(h2, h3):not(:first-child) {
  margin-top: 3rem;
}

:is(h4, h5, h6):not(:first-child) {
  margin-top: 2rem;
}

h1 {
  font-size: 2.5rem; /* 40px */
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

/* p {
  /* line-height: 1.65em;
} */

.content ul {
  line-height: 1.1em;
}

p,
.content ul {
  color: var(--theme-text-light);
}

small,
.text_small {
  font-size: 0.833rem;
}

a {
  color: var(--theme-text-accent);
  font-weight: 400;
  text-underline-offset: 0.08em;
  align-items: center;
  gap: 0.5rem;
}

/* article > section :is(ul, ol) > * + * {
  line-height: 200%;
} */

article > section nav :is(ul, ol) > * + * {
  margin-top: inherit;
}

article > section li > :is(p, pre, blockquote):not(:first-child) {
  margin-top: 1rem;
}

article > section :is(ul, ol) {
  padding-left: 1em;
}

article > section nav :is(ul, ol) {
  padding-left: inherit;
}

article > section nav {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

article > section ::marker {
  font-weight: bold;
  color: var(--theme-text-light);
}

article > section iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

a > code {
  position: relative;
  color: var(--theme-text-accent);
  background: transparent;
  text-underline-offset: var(--padding-block);
}

a > code::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: var(--theme-accent);
  opacity: var(--theme-accent-opacity);
  border-radius: var(--border-radius);
}

a {
  color: var(--theme-hypertext);
}

a:hover,
a:focus {
  text-decoration: underline;
  color: var(--theme-text);
}

a:focus {
  outline: 2px solid currentColor;
  outline-offset: 0.25em;
}

strong {
  font-weight: 600;
  color: inherit;
}

/* Supporting Content */

code {
  --border-radius: 3px;
  margin-top: 2px;
  font-family: var(--font-mono);
  font-size: 0.85em;
  background-color: var(--color-purple-code);
  color: var(--color-orange-code);
  border-radius: var(--border-radius);
  word-break: break-word;
  padding-left: 0.125em;
  padding-right: 0.125em;
}

pre.astro-code > code {
  all: unset;
}

pre > code {
  font-size: 1em;
}

code > span > span {
  color: var(--color-purple-bright);
  font-family: var(--font-mono);
}

table,
pre {
  position: relative;
  --padding-block: 1rem;
  --padding-inline: 2rem;
  padding: var(--padding-block) var(--padding-inline);
  padding-right: calc(var(--padding-inline) * 2);
  margin-left: calc(var(--padding-inline) * -1);
  margin-right: calc(var(--padding-inline) * -1);
  font-family: var(--font-mono);
  border-radius: 15px;
  line-height: 1.5;
  font-size: 0.85em;
  overflow-y: hidden;
  overflow-x: auto;
}

/* Additional Keyword Highlighting */

.pkeyword {
  display: inline;
  box-sizing: border-box;
  margin-top: 6px !important;
  padding-left: 3px;
  padding-right: 3px;
  vertical-align: baseline;
  border: 1px solid var(--theme-hypertext); 
  border-radius: 5px;
  transition: all 0.3s ease;
  color: inherit;
  text-decoration: none;
  align-items: initial;
  gap: initial;
}
a.pkeyword:hover {
  color: var(--color-purple-600);
  text-decoration: none;
  border-color: var(--color-purple-600);
}

.ykeyword {
  color: var(--color-yellow-500);
}

/* Additional table design */
table {
  overflow: hidden;
  width: 100%;
  padding: var(--padding-block) 0;
  margin: 0;
  background-color: var(--color-purple-1000);

  th, td {
    background-color: var(--color-purple-1000);
    padding: 6px;
  }

  thead tr:first-child th:first-child,
  tbody tr:first-child, 
  tfoot tr:first-child td:first-child {
    border-top-left-radius: 0.9375em;
  }

  thead tr:first-child th:last-child,
  tbody tr:first-child,
  tfoot tr:first-child td:last-child {
    border-top-right-radius: 0.9375em;
  }

  tbody tr:last-child td:first-child,
  tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 0.9375em;
  }

  tbody tr:last-child td:last-child,
  tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 0.9375em;
  }
}

table thead tr:first-child th {
  border-bottom: 0.0625em solid var(--color-purple-900);
}

table tr:not(:last-child) td,
table thead tr:not(:last-child) th {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 0.0625em solid var(--color-purple-900);
  }
}

table tr:not(:last-child) td:first-child::before,
table thead tr:not(:last-child) th:first-child::before {
    left: 1.25em;
}

table thead tr:first-child th,
table tbody tr:first-child td {
  padding-top: 0.9375em;
}

table tbody tr:last-child td,
table tfoot tr:last-child td {
  padding-bottom: 0.9375em;
}

table tr > th:first-child,
table tr > td:first-child {
  padding-left: 1.25em;
}

table tr > th:last-child,
table tr > td:last-child {
  padding-right: 1.25em;
}

pre {
  background-color: var(--theme-code-bg);
  color: var(--theme-code-text);
}

blockquote code {
  background-color: var(--theme-bg);
  color: var(--color-purple-bright);
}

@media (min-width: 37.75em) {
  pre {
    --padding-inline: 1.25rem;
    border-radius: 8px;
    margin-left: 0;
    margin-right: 0;
  }
}

blockquote {
  margin: 2rem 0;
  padding: 1.25em 1.5rem;
  border-left: 3px solid var(--theme-text-light);
  background-color: var(--color-purple-1000);
  border-radius: 0 0.25rem 0.25rem 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

button {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.25em;
  padding: 0.33em 0.67em;
  border: 0;
  background: var(--theme-bg);
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: 0.25em;
  border-radius: 99em;
  color: var(--theme-text);
  background-color: var(--theme-bg);
}

h2.heading {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.1rem 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

/* Screenreader Only Text */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.focus\:not-sr-only:focus,
.focus\:not-sr-only:focus-visible {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

:target {
  scroll-margin: calc(var(--theme-sidebar-offset, 5rem) + 2rem) 0 2rem;
}

.tab {
  color: white;
  padding: 1rem;
  background-color: teal;
  border: 1px solid cyan;

  &:hover {
    color: black;
    background-color: cyan;
  }
}

.tab-selector:checked ~ .tab {
  color: black;
  background: turquoise;
}

.panel {
  padding: 1rem;
  background-color: lightcyan;
  border: 3px solid darkcyan;
}

.notification {
  font-weight: 700;

  &.type-checked {
    background-color: hsla(182, 40%, 84%, 1);
    border: none;
  }

  &.type-note,
  &.type-tip {
    background-color: hsla(257, 100%, 94%, 1);
    border: none;
  }

  &.type-information {
    background-color: hsla(38, 73%, 88%, 1);
    border: none;
  }

  &.type-warn {
    background-color: hsla(8, 100%, 92%, 1);
    border: none;
  }
}

h1 {
  width: 100%;
  float: left;
  padding-bottom: 3px;
  padding-top: 25px;
}


/* Visual Styles */

$activeColor: #ffffff;
$unactiveColor: #eeeeee;
$unactiveHoverColor: #dddddd;

@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap);
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
