---
import Layout from "../../layouts/Layout.astro";
import { RuleSetDelete } from "../../components/rules/ruleSetDelete";
---

<Layout title="Streamdal Embedded Console - Ruleset Delete">
  <main>
    <RuleSetDelete client:load client:only />
  </main>
</Layout>
