---
import Layout from "../../layouts/Layout.astro";
import { RuleSetView } from "../../components/rules/rulesetView";
---

<Layout title="Streamdal Embedded Console - Ruleset View">
  <main>
    <RuleSetView client:load client:only />
  </main>
</Layout>
