---
import Layout from "../../layouts/Layout.astro";
import { RuleSetAddEdit } from "../../components/rules/rulesetAddEdit";
---

<Layout title="Streamdal Embedded Console - Ruleset Add">
  <main>
    <RuleSetAddEdit client:load client:only />
  </main>
</Layout>
