<style>
/* Base container */
.wfcontainer {
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    max-height: 333px; 
    padding: 40px 0;
    background-color: var(--color-purple-300); 
    border-radius: 5px;
}

/* Step styles */
.step {
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: var(--color-purple-900);
    text-align: center;
    z-index: 2;
    transition: transform 0.3s ease;
}

.step a {
    text-decoration: none;
}

.step:hover {
    transform: scale(1.05);
}

.step:hover > * {
    font-size: 110%;
}

/* Arrow styles */
.arrow {
    position: relative;
    height: 60px;
    width: 2px;
    margin: 0 auto; 
    background-color: transparent;
    top: -10px;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background: transparent;
}

.arrow::before {
    top: 10px;
    height: 80%;
    border-left: 2px dashed #C1AAFD; 
}

.arrow::after {
    bottom: -5px;
    height: 10px;
    width: 10px;
    border-left: 2px solid #C1AAFD;
    border-bottom: 2px solid #C1AAFD;
    transform: translateX(-50%) rotate(-45deg); 
}
</style>
    

<div class="wfcontainer">
    <div class="step">
        Deploy&nbsp;<a href="/en/guides/deployment"> the server</a>
    </div>
    <div class="arrow"></div>
    <div class="step">
        Instrument the&nbsp;<a href="/en/core-components/sdk">SDK</a>&nbsp;into your app
    </div>
    <div class="arrow"></div>
    <div class="step">
        Manage via the&nbsp;<a href="/en/core-components/console-ui">Console UI</a>
    </div>
</div>



