---
import Layout from "../layouts/Layout.astro";
import { RuleSets } from "../components/rules/ruleSets";
---

<Layout title="Streamdal Embedded Console">
  <main>
    <h1 class="mb-6">
      Welcome to the <span class="italic font-bold text-purple-500">
        Streamdal
      </span> embedded console.
    </h1>
    <RuleSets client:load client:only />
  </main>
</Layout>
