---
import Layout from "../layouts/Layout.astro";
import { RuleSet } from "../components/rules/ruleSet";
---

<Layout title="Streamdal Embedded Console - Ruleset">
  <main>
    <RuleSet client:load client:only />
  </main>
</Layout>
