---
type Props = {
  size: number;
};

const { size } = Astro.props as Props;
---

<svg
  id="sm-header-logo"
  height={size}
  viewBox="0 0 235 286"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  style="width: auto;"
  class="mobile-logo"
>
  <title>Streamdal Logo</title>
  <path
    class="logo-diamond"
    fill="#C1AAFD"
    d="M234.709 256.661L205.371 227.323L176.033 256.661L205.371 285.999L234.709 256.661Z"
  ></path>
  <path
    class="dark-logo"
    fill="#372D56"
    d="M117.411 227.427L117.411 285.805C53.2174 285.805 0.992185 233.58 0.992182 169.386L59.37 169.386C59.3687 201.39 85.4053 227.427 117.411 227.427Z"
  ></path>
  <path
    class="dark-logo"
    fill="#372D56"
    d="M234.392 116.419L176.014 116.419C176.014 84.415 149.977 58.3771 117.973 58.3771L117.973 -0.000663757C182.167 0.000615175 234.392 52.2258 234.392 116.419Z"
  ></path>
  <path
    class="logo-circle"
    fill="#FFD260"
    d="M59.1172 29.1963C59.1172 13.0721 46.046 0.000947879 29.9219 0.000948583C13.7978 0.000949288 0.726561 13.0721 0.726561 29.1963C0.726562 45.3204 13.7978 58.3916 29.9219 58.3916C46.046 58.3916 59.1172 45.3204 59.1172 29.1963Z"
  ></path>
  <path
    class="dark-logo"
    fill="#372D56"
    d="M1.9027 95.2079C5.12708 113.317 16.8086 137.974 54.1552 152.593C80.0565 162.734 103.123 167.514 121.661 171.355C154.473 178.156 174.802 182.391 177.072 208.226L234.472 208.226C234.467 204.028 234.152 199.467 233.303 194.705C230.079 176.595 218.397 151.938 181.051 137.319C155.151 127.179 132.08 122.398 113.544 118.556C79.5691 111.514 58.9618 107.244 57.9457 78.8753L0.770412 78.8753C0.611693 83.8069 0.860395 89.3612 1.9027 95.2079Z"
  ></path>
</svg>
<style>
  .mobile-logo {
    display: block;
  }

  @media (min-width: 50em) {
    .mobile-logo {
      display: none;
    }
  }
</style>
