---
type Props = {
  size: number;
  ballFill?: string;
  cubeFill?: string;
};

const { size } = Astro.props as Props;
---

<svg
  id="lg-header-logo"
  height={size}
  viewBox="0 0 1346 412"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  style="width: auto;"
  class="lg-logo"
>
<title>Snitch Logo</title>
  <path
    fill="white" 
    d="M532.404 275.834C522.654 275.834 513.332 274.979 504.438 273.269C495.714 271.558 487.932 268.993 481.09 265.572C474.419 262.151 469.117 257.875 465.183 252.743C461.42 247.441 459.538 241.283 459.538 234.27C459.538 233.415 459.538 232.645 459.538 231.961C459.709 231.277 459.88 230.678 460.051 230.165H499.306C499.306 230.507 499.221 230.935 499.05 231.448C499.05 231.79 499.05 232.132 499.05 232.474C499.221 236.579 500.846 239.915 503.924 242.48C507.174 244.875 511.365 246.671 516.496 247.868C521.628 248.895 527.101 249.408 532.917 249.408C538.39 249.408 543.693 249.066 548.824 248.382C554.126 247.526 558.488 246.158 561.909 244.276C565.33 242.224 567.04 239.316 567.04 235.553C567.04 231.277 564.988 228.198 560.883 226.317C556.778 224.435 551.133 222.981 543.949 221.955C536.765 220.758 528.384 219.389 518.805 217.85C511.45 216.653 504.438 215.113 497.767 213.232C491.267 211.35 485.451 208.956 480.32 206.048C475.189 202.969 471.169 199.035 468.261 194.246C465.354 189.456 463.9 183.641 463.9 176.799C463.9 169.273 465.61 162.859 469.031 157.556C472.623 152.083 477.498 147.721 483.656 144.471C489.984 141.05 497.425 138.57 505.977 137.031C514.7 135.32 524.193 134.465 534.456 134.465C543.864 134.465 552.587 135.32 560.626 137.031C568.665 138.57 575.764 140.965 581.921 144.215C588.079 147.294 592.954 151.228 596.546 156.017C600.138 160.806 601.934 166.365 601.934 172.694C601.934 173.378 601.848 174.148 601.677 175.003C601.677 175.687 601.677 176.286 601.677 176.799H562.422V175.26C562.422 172.01 561.054 169.358 558.317 167.306C555.751 165.082 552.33 163.457 548.054 162.431C543.778 161.405 539.074 160.892 533.943 160.892C531.548 160.892 528.555 161.063 524.963 161.405C521.542 161.576 518.121 162.089 514.7 162.944C511.279 163.799 508.372 164.997 505.977 166.536C503.753 167.905 502.642 169.957 502.642 172.694C502.642 176.115 504.523 178.68 508.286 180.391C512.049 182.101 517.009 183.47 523.167 184.496C529.325 185.351 535.995 186.378 543.179 187.575C551.048 188.772 558.745 190.141 566.271 191.68C573.797 193.219 580.467 195.443 586.283 198.351C592.27 201.258 597.059 205.278 600.651 210.409C604.243 215.541 606.039 222.297 606.039 230.678C606.039 239.06 604.243 246.158 600.651 251.974C597.23 257.789 592.27 262.493 585.77 266.085C579.27 269.506 571.487 271.986 562.422 273.525C553.528 275.065 543.521 275.834 532.404 275.834Z" 
  ></path>
  <path
    fill="white" 
    d="M628.216 275.756V137.544H660.03L662.853 159.096H664.905C669.352 153.28 674.398 148.576 680.043 144.984C685.858 141.393 692.101 138.741 698.772 137.031C705.443 135.32 712.114 134.465 718.784 134.465C730.587 134.465 740.507 136.432 748.546 140.366C756.586 144.129 762.658 149.945 766.763 157.813C770.868 165.51 772.92 175.516 772.92 187.831V275.756H734.179V193.989C734.179 188.858 733.494 184.496 732.126 180.904C730.758 177.312 728.791 174.404 726.225 172.181C723.659 169.957 720.495 168.332 716.732 167.306C713.14 166.28 709.035 165.767 704.417 165.767C697.746 165.767 691.588 167.22 685.944 170.128C680.299 172.865 675.766 176.799 672.346 181.93C668.925 186.891 667.214 192.706 667.214 199.377V275.756H628.216Z"
  ></path>
  <path
    fill="white"
    d="M801.48 117.019V87H840.478V117.019H801.48ZM801.48 275.756V137.544H840.478V275.756H801.48Z" 
  ></path>
  <path
    fill="white"
    d="M924.667 275.834C914.746 275.834 906.621 274.466 900.293 271.729C893.964 268.993 889.26 264.631 886.181 258.644C883.103 252.487 881.563 244.448 881.563 234.527V166.28H858.215V137.544H882.846L890.543 98.0324H920.562V137.544H954.172V166.28H920.562V229.395C920.562 235.04 921.673 239.402 923.897 242.48C926.292 245.559 931.081 247.099 938.265 247.099H954.172V271.473C951.948 272.328 949.041 273.098 945.449 273.782C941.857 274.466 938.179 274.979 934.416 275.321C930.653 275.663 927.403 275.834 924.667 275.834Z"
  ></path>
  <path
    fill="white"
    d="M1050.28 275.834C1033.52 275.834 1019.15 273.269 1007.18 268.137C995.204 262.835 986.053 254.967 979.725 244.533C973.396 234.099 970.232 220.929 970.232 205.021C970.232 189.114 973.396 175.944 979.725 165.51C986.053 155.076 995.204 147.294 1007.18 142.162C1019.15 137.031 1033.52 134.465 1050.28 134.465C1060.89 134.465 1070.72 135.662 1079.79 138.057C1089.02 140.281 1097.06 143.787 1103.9 148.576C1110.75 153.195 1116.05 159.01 1119.81 166.023C1123.57 172.865 1125.46 180.904 1125.46 190.141H1086.2C1086.2 184.325 1084.58 179.45 1081.33 175.516C1078.25 171.411 1073.97 168.332 1068.5 166.28C1063.19 164.227 1057.04 163.201 1050.02 163.201C1041.47 163.201 1034.2 164.74 1028.22 167.819C1022.4 170.898 1017.95 175.345 1014.87 181.161C1011.8 186.976 1010.26 194.075 1010.26 202.456V207.844C1010.26 216.054 1011.8 223.152 1014.87 229.139C1018.12 234.954 1022.74 239.402 1028.73 242.48C1034.89 245.559 1042.5 247.099 1051.56 247.099C1058.41 247.099 1064.48 245.987 1069.78 243.763C1075.25 241.54 1079.62 238.375 1082.87 234.27C1086.11 230.165 1087.74 225.376 1087.74 219.902H1125.46C1125.46 229.139 1123.49 237.349 1119.55 244.533C1115.79 251.546 1110.49 257.361 1103.65 261.98C1096.98 266.598 1089.02 270.104 1079.79 272.499C1070.72 274.723 1060.89 275.834 1050.28 275.834Z"
  ></path>
  <path
    fill="white"
    d="M1149.39 275.756V87H1188.39V154.734H1190.18C1194.46 149.945 1199.25 146.096 1204.55 143.188C1210.03 140.11 1215.76 137.886 1221.74 136.518C1227.73 135.149 1233.8 134.465 1239.96 134.465C1251.76 134.465 1261.68 136.432 1269.72 140.366C1277.76 144.129 1283.83 149.945 1287.94 157.813C1292.04 165.51 1294.1 175.516 1294.1 187.831V275.756H1255.35V193.989C1255.35 188.858 1254.67 184.496 1253.3 180.904C1251.93 177.312 1249.97 174.404 1247.4 172.181C1244.83 169.957 1241.67 168.332 1237.91 167.306C1234.31 166.28 1230.21 165.767 1225.59 165.767C1218.92 165.767 1212.76 167.22 1207.12 170.128C1201.47 172.865 1196.94 176.799 1193.52 181.93C1190.1 186.891 1188.39 192.706 1188.39 199.377V275.756H1149.39Z"
  ></path>
  <path
    fill="#C1AAFD" 
    class="logo_bvec"
    d="M311.908 284.462L338.089 310.643L363.999 284.733V284.19L338.089 258.281L311.908 284.462Z" 
  ></path>
  <path
    fill="#FFD260"
    class="logo_tvec"
    d="M122.574 78C122.574 92.4948 134.261 104.181 148.755 104.181C163.25 104.181 174.937 92.4042 174.937 78C174.937 64.5923 164.971 53.6307 152.017 52H145.494C132.539 53.6307 122.574 64.5923 122.574 78Z"
  ></path>
  <path 
    fill="white"  
    d="M361.735 127.463C360.739 122.118 359.38 116.864 357.659 111.791C356.3 107.714 354.669 103.909 352.857 100.105C343.617 82.2578 328.578 68.0348 310.188 59.7003C309.01 59.1568 307.833 58.7038 306.655 58.1603C305.93 57.8885 305.115 57.5261 304.39 57.2544C302.488 56.5296 300.495 55.8955 298.502 55.3519C298.049 55.1707 297.596 55.0801 297.143 54.9895C294.969 54.446 292.794 53.9024 290.53 53.4495C290.167 53.3589 289.805 53.2683 289.443 53.2683C287.178 52.8153 284.822 52.5436 282.467 52.3624C282.195 52.3624 281.833 52.3624 281.561 52.2718C279.024 52.1812 276.488 52 273.951 52C272.139 52 270.418 52.0906 268.606 52.1812C267.972 52.1812 267.429 52.2718 266.794 52.3624C265.707 52.453 264.53 52.5436 263.443 52.7247C262.718 52.8153 261.902 52.9059 261.178 52.9965C260.362 53.0871 259.456 53.2683 258.641 53.4495C233.456 57.7979 211.986 72.7456 198.85 93.5819H269.15L190.697 172.035C190.697 172.035 178.376 184.355 166.962 195.77C157.087 205.645 147.847 214.885 147.847 214.885L52 310.551H96.2997L139.331 267.519H157.721L114.237 311.003H158.537L202.021 267.519H212.711L247.136 301.944H222.495V311.003H312.091V301.944H293.247L264.983 273.77L268.697 265.526C322.962 255.017 364 207.275 364 149.93C364 142.23 363.185 134.801 361.735 127.463ZM279.296 301.944H261.087L233.185 274.042L236.084 267.519L244.962 267.61L279.296 301.944ZM273.408 78.5436C270.237 78.5436 267.7 76.007 267.7 72.8362C267.7 69.6655 270.237 67.1289 273.408 67.1289C276.578 67.1289 279.115 69.6655 279.115 72.8362C279.206 76.007 276.578 78.5436 273.408 78.5436Z"
  ></path>
  <path 
    fill="white"
    d="M861.697 358.848C859.172 358.848 856.818 358.398 854.636 357.5C852.496 356.601 850.699 355.082 849.244 352.942H848.73L847.896 358.077H840V311.603H849.757V328.293H850.206C851.105 327.223 852.154 326.345 853.352 325.661C854.593 324.933 855.962 324.398 857.46 324.056C858.958 323.671 860.52 323.478 862.146 323.478C865.27 323.478 868.03 324.12 870.427 325.404C872.823 326.645 874.706 328.571 876.076 331.181C877.445 333.792 878.13 337.13 878.13 341.195C878.13 345.175 877.445 348.491 876.076 351.145C874.706 353.755 872.78 355.702 870.298 356.986C867.859 358.227 864.992 358.848 861.697 358.848ZM859.001 351.016C861.012 351.016 862.702 350.674 864.072 349.989C865.441 349.262 866.468 348.213 867.153 346.844C867.838 345.432 868.18 343.741 868.18 341.773V340.617C868.18 338.649 867.838 336.98 867.153 335.61C866.468 334.198 865.441 333.128 864.072 332.401C862.745 331.673 861.076 331.31 859.065 331.31C857.524 331.31 856.176 331.524 855.021 331.951C853.865 332.379 852.881 333.021 852.068 333.877C851.298 334.69 850.699 335.696 850.271 336.894C849.885 338.05 849.693 339.376 849.693 340.874V341.516C849.693 343.527 850.035 345.239 850.72 346.651C851.447 348.064 852.496 349.155 853.865 349.925C855.278 350.653 856.989 351.016 859.001 351.016Z"
  ></path>
  <path 
    fill="white"
    d="M888.856 370.723C887.487 370.723 886.267 370.616 885.197 370.402C884.17 370.188 883.293 369.953 882.565 369.696V363.534H887.123C888.792 363.534 890.14 363.298 891.167 362.828C892.194 362.357 893.029 361.715 893.671 360.902C894.355 360.132 894.954 359.19 895.468 358.077L879.869 324.249H890.397L897.073 340.168C897.415 340.938 897.779 341.88 898.164 342.992C898.592 344.062 899.02 345.154 899.448 346.266C899.876 347.379 900.261 348.363 900.603 349.219H901.053C901.138 348.962 901.288 348.491 901.502 347.807C901.759 347.079 902.058 346.266 902.401 345.367C902.743 344.426 903.085 343.506 903.428 342.607C903.77 341.666 904.07 340.831 904.326 340.104L910.232 324.249H920.374L907.087 355.381C906.06 357.649 905.032 359.725 904.005 361.608C902.978 363.491 901.78 365.117 900.411 366.486C899.084 367.856 897.479 368.904 895.596 369.632C893.756 370.359 891.509 370.723 888.856 370.723Z"
  ></path>
  <path 
    fill="white"
    d="M954.745 358.077C952.314 358.077 949.99 357.864 947.773 357.437C945.598 357.011 943.658 356.371 941.952 355.518C940.289 354.666 938.967 353.6 937.986 352.32C937.048 350.998 936.579 349.463 936.579 347.715C936.579 347.502 936.579 347.31 936.579 347.139C936.622 346.969 936.664 346.819 936.707 346.691H946.493C946.493 346.777 946.472 346.883 946.429 347.011C946.429 347.097 946.429 347.182 946.429 347.267C946.472 348.291 946.877 349.122 947.645 349.762C948.455 350.359 949.5 350.806 950.779 351.105C952.058 351.361 953.423 351.489 954.873 351.489C956.237 351.489 957.559 351.403 958.838 351.233C960.16 351.02 961.248 350.679 962.101 350.209C962.953 349.698 963.38 348.973 963.38 348.035C963.38 346.969 962.868 346.201 961.845 345.732C960.821 345.263 959.414 344.9 957.623 344.645C955.832 344.346 953.743 344.005 951.355 343.621C949.521 343.323 947.773 342.939 946.11 342.47C944.489 342.001 943.039 341.404 941.76 340.679C940.481 339.911 939.479 338.931 938.754 337.737C938.029 336.543 937.666 335.093 937.666 333.387C937.666 331.511 938.093 329.912 938.946 328.59C939.841 327.225 941.057 326.138 942.592 325.328C944.169 324.475 946.024 323.856 948.157 323.473C950.331 323.046 952.698 322.833 955.256 322.833C957.602 322.833 959.777 323.046 961.781 323.473C963.785 323.856 965.555 324.453 967.09 325.264C968.625 326.031 969.84 327.012 970.736 328.206C971.631 329.4 972.079 330.786 972.079 332.364C972.079 332.534 972.058 332.726 972.015 332.939C972.015 333.11 972.015 333.259 972.015 333.387H962.229V333.003C962.229 332.193 961.887 331.532 961.205 331.02C960.565 330.466 959.713 330.061 958.647 329.805C957.58 329.549 956.408 329.421 955.129 329.421C954.532 329.421 953.785 329.464 952.89 329.549C952.037 329.592 951.184 329.72 950.331 329.933C949.478 330.146 948.754 330.445 948.157 330.828C947.602 331.17 947.325 331.681 947.325 332.364C947.325 333.216 947.794 333.856 948.732 334.283C949.67 334.709 950.907 335.05 952.442 335.306C953.977 335.519 955.64 335.775 957.431 336.073C959.393 336.372 961.312 336.713 963.188 337.097C965.064 337.481 966.727 338.035 968.177 338.76C969.67 339.485 970.864 340.487 971.759 341.766C972.655 343.046 973.102 344.73 973.102 346.819C973.102 348.909 972.655 350.679 971.759 352.128C970.906 353.578 969.67 354.751 968.049 355.646C966.429 356.499 964.489 357.118 962.229 357.501C960.011 357.885 957.517 358.077 954.745 358.077Z"
  ></path>
  <path 
    fill="white"
    d="M993.599 358.077C991.125 358.077 989.1 357.736 987.522 357.054C985.944 356.371 984.772 355.284 984.004 353.791C983.237 352.256 982.853 350.252 982.853 347.779V330.765H977.032V323.601H983.173L985.091 313.75H992.575V323.601H1000.95V330.765H992.575V346.5C992.575 347.907 992.852 348.994 993.407 349.762C994.004 350.529 995.198 350.913 996.989 350.913H1000.95V356.99C1000.4 357.203 999.675 357.395 998.78 357.565C997.884 357.736 996.967 357.864 996.029 357.949C995.091 358.034 994.281 358.077 993.599 358.077Z"
  ></path>
  <path 
    fill="white"
    d="M1007.64 357.309V323.601H1015.58L1016.28 329.293H1016.73C1017.28 328.057 1017.99 326.948 1018.84 325.967C1019.73 324.986 1020.8 324.219 1022.04 323.665C1023.27 323.11 1024.68 322.833 1026.26 322.833C1027.03 322.833 1027.75 322.897 1028.43 323.025C1029.16 323.11 1029.8 323.259 1030.35 323.473V331.788H1026.07C1024.53 331.788 1023.21 332.044 1022.1 332.555C1020.99 333.025 1020.1 333.707 1019.41 334.602C1018.73 335.455 1018.22 336.436 1017.88 337.545C1017.54 338.653 1017.37 339.869 1017.37 341.191V357.309H1007.64Z"
  ></path>
  <path 
    fill="white"
    d="M1053.44 358.077C1049.22 358.077 1045.57 357.459 1042.5 356.222C1039.47 354.943 1037.15 353.003 1035.53 350.401C1033.91 347.8 1033.1 344.495 1033.1 340.487C1033.1 336.521 1033.89 333.238 1035.46 330.637C1037.08 327.993 1039.39 326.031 1042.37 324.752C1045.4 323.473 1048.98 322.833 1053.12 322.833C1057.38 322.833 1060.96 323.473 1063.86 324.752C1066.81 326.031 1069.02 327.929 1070.52 330.445C1072.01 332.961 1072.75 336.116 1072.75 339.911V342.662H1043.14C1043.27 344.623 1043.74 346.244 1044.55 347.523C1045.4 348.76 1046.57 349.676 1048.06 350.273C1049.6 350.828 1051.45 351.105 1053.63 351.105C1054.65 351.105 1055.68 350.998 1056.7 350.785C1057.77 350.529 1058.75 350.188 1059.64 349.762C1060.54 349.293 1061.26 348.717 1061.82 348.035C1062.41 347.31 1062.73 346.478 1062.78 345.54H1072.63C1072.63 347.416 1072.18 349.143 1071.28 350.721C1070.39 352.256 1069.09 353.578 1067.38 354.687C1065.72 355.753 1063.69 356.584 1061.31 357.181C1058.96 357.778 1056.34 358.077 1053.44 358.077ZM1043.2 336.713H1062.52C1062.52 335.562 1062.29 334.56 1061.82 333.707C1061.39 332.811 1060.75 332.086 1059.9 331.532C1059.05 330.935 1058.06 330.509 1056.96 330.253C1055.85 329.954 1054.63 329.805 1053.31 329.805C1051.35 329.805 1049.64 330.082 1048.19 330.637C1046.74 331.148 1045.59 331.916 1044.74 332.939C1043.93 333.963 1043.42 335.221 1043.2 336.713Z"
  ></path>
  <path 
    fill="white"
    d="M1091.69 358.077C1089.94 358.077 1088.25 357.928 1086.63 357.629C1085.01 357.331 1083.56 356.819 1082.28 356.094C1081 355.369 1080 354.367 1079.28 353.088C1078.55 351.809 1078.19 350.188 1078.19 348.227C1078.19 345.625 1078.87 343.557 1080.24 342.022C1081.6 340.487 1083.52 339.357 1085.99 338.632C1088.47 337.864 1091.39 337.374 1094.76 337.161C1098.12 336.905 1101.81 336.777 1105.82 336.777V335.178C1105.82 333.941 1105.52 332.918 1104.93 332.108C1104.37 331.298 1103.48 330.722 1102.24 330.381C1101.05 329.997 1099.45 329.805 1097.44 329.805C1095.82 329.805 1094.39 329.933 1093.16 330.189C1091.92 330.445 1090.96 330.828 1090.28 331.34C1089.6 331.852 1089.25 332.47 1089.25 333.195V333.899H1079.6C1079.55 333.686 1079.51 333.515 1079.47 333.387C1079.47 333.216 1079.47 333.003 1079.47 332.747C1079.47 330.786 1080.17 329.059 1081.58 327.566C1083.03 326.074 1085.12 324.922 1087.85 324.112C1090.58 323.259 1093.95 322.833 1097.95 322.833C1101.75 322.833 1104.95 323.217 1107.55 323.984C1110.15 324.709 1112.13 325.903 1113.5 327.566C1114.86 329.187 1115.54 331.34 1115.54 334.027V348.418C1115.54 349.229 1115.71 349.847 1116.06 350.273C1116.4 350.7 1116.93 350.913 1117.65 350.913H1120.66V356.99C1120.19 357.16 1119.38 357.373 1118.23 357.629C1117.12 357.928 1115.88 358.077 1114.52 358.077C1112.73 358.077 1111.3 357.864 1110.23 357.437C1109.17 357.011 1108.36 356.414 1107.8 355.646C1107.25 354.879 1106.84 354.026 1106.59 353.088H1106.14C1105.08 354.111 1103.8 355.007 1102.3 355.774C1100.85 356.542 1099.23 357.118 1097.44 357.501C1095.69 357.885 1093.77 358.077 1091.69 358.077ZM1094.44 351.105C1095.63 351.105 1096.89 350.956 1098.21 350.657C1099.53 350.359 1100.77 349.932 1101.92 349.378C1103.07 348.824 1104.01 348.12 1104.73 347.267C1105.46 346.414 1105.82 345.433 1105.82 344.325V342.534C1101.9 342.534 1098.59 342.704 1095.91 343.046C1093.26 343.344 1091.26 343.877 1089.89 344.645C1088.57 345.37 1087.91 346.393 1087.91 347.715C1087.91 348.61 1088.21 349.293 1088.81 349.762C1089.45 350.231 1090.26 350.572 1091.24 350.785C1092.26 350.998 1093.33 351.105 1094.44 351.105Z"
  ></path>
  <path 
    fill="white"
    d="M1125.02 357.309V323.601H1132.95L1133.65 328.974H1134.16C1135.23 327.524 1136.44 326.351 1137.81 325.456C1139.17 324.56 1140.64 323.899 1142.22 323.473C1143.84 323.046 1145.46 322.833 1147.08 322.833C1149.94 322.833 1152.33 323.345 1154.25 324.368C1156.21 325.349 1157.66 326.884 1158.6 328.974H1159.17C1160.24 327.524 1161.47 326.351 1162.88 325.456C1164.29 324.56 1165.78 323.899 1167.36 323.473C1168.98 323.046 1170.6 322.833 1172.22 322.833C1175.03 322.833 1177.4 323.302 1179.32 324.24C1181.24 325.178 1182.69 326.628 1183.67 328.59C1184.65 330.551 1185.14 333.046 1185.14 336.073V357.309H1175.48V337.609C1175.48 336.372 1175.31 335.306 1174.97 334.41C1174.67 333.515 1174.22 332.79 1173.63 332.236C1173.03 331.681 1172.31 331.276 1171.45 331.02C1170.64 330.765 1169.7 330.637 1168.64 330.637C1167.1 330.637 1165.67 330.999 1164.35 331.724C1163.03 332.406 1161.96 333.387 1161.15 334.666C1160.34 335.903 1159.94 337.353 1159.94 339.016V357.309H1150.28V337.609C1150.28 336.372 1150.11 335.306 1149.77 334.41C1149.47 333.515 1149.02 332.79 1148.43 332.236C1147.83 331.681 1147.1 331.276 1146.25 331.02C1145.44 330.765 1144.5 330.637 1143.44 330.637C1141.86 330.637 1140.41 330.999 1139.09 331.724C1137.77 332.406 1136.7 333.387 1135.89 334.666C1135.12 335.903 1134.74 337.353 1134.74 339.016V357.309H1125.02Z"
  ></path>
  <path 
    fill="white"
    d="M1208.44 358.077C1205.16 358.077 1202.3 357.459 1199.87 356.222C1197.44 354.943 1195.54 353.003 1194.18 350.401C1192.81 347.757 1192.13 344.453 1192.13 340.487C1192.13 336.436 1192.79 333.11 1194.11 330.509C1195.48 327.907 1197.36 325.989 1199.74 324.752C1202.13 323.473 1204.9 322.833 1208.06 322.833C1209.68 322.833 1211.21 323.004 1212.66 323.345C1214.16 323.686 1215.52 324.219 1216.76 324.944C1217.99 325.669 1219.04 326.564 1219.89 327.63H1220.4V311H1230.06V357.309H1222.19L1221.43 352.192H1220.92C1219.42 354.324 1217.61 355.838 1215.48 356.734C1213.35 357.629 1211 358.077 1208.44 358.077ZM1211.19 350.273C1213.2 350.273 1214.88 349.911 1216.25 349.186C1217.61 348.418 1218.63 347.331 1219.32 345.924C1220.04 344.517 1220.4 342.811 1220.4 340.807V340.167C1220.4 338.675 1220.21 337.353 1219.83 336.201C1219.44 335.007 1218.85 334.005 1218.04 333.195C1217.23 332.342 1216.25 331.703 1215.09 331.276C1213.94 330.85 1212.62 330.637 1211.13 330.637C1209.12 330.637 1207.44 330.999 1206.08 331.724C1204.71 332.449 1203.69 333.515 1203.01 334.922C1202.32 336.287 1201.98 337.95 1201.98 339.911V341.063C1201.98 343.024 1202.32 344.709 1203.01 346.116C1203.73 347.48 1204.78 348.525 1206.14 349.25C1207.5 349.932 1209.19 350.273 1211.19 350.273Z"
  ></path>
  <path
    fill="white"
    d="M1250.47 358.077C1248.72 358.077 1247.04 357.928 1245.42 357.629C1243.8 357.331 1242.35 356.819 1241.07 356.094C1239.79 355.369 1238.79 354.367 1238.06 353.088C1237.34 351.809 1236.97 350.188 1236.97 348.227C1236.97 345.625 1237.66 343.557 1239.02 342.022C1240.38 340.487 1242.3 339.357 1244.78 338.632C1247.25 337.864 1250.17 337.374 1253.54 337.161C1256.91 336.905 1260.6 336.777 1264.61 336.777V335.178C1264.61 333.941 1264.31 332.918 1263.71 332.108C1263.16 331.298 1262.26 330.722 1261.02 330.381C1259.83 329.997 1258.23 329.805 1256.23 329.805C1254.61 329.805 1253.18 329.933 1251.94 330.189C1250.7 330.445 1249.74 330.828 1249.06 331.34C1248.38 331.852 1248.04 332.47 1248.04 333.195V333.899H1238.38C1238.34 333.686 1238.3 333.515 1238.25 333.387C1238.25 333.216 1238.25 333.003 1238.25 332.747C1238.25 330.786 1238.96 329.059 1240.36 327.566C1241.81 326.074 1243.9 324.922 1246.63 324.112C1249.36 323.259 1252.73 322.833 1256.74 322.833C1260.53 322.833 1263.73 323.217 1266.33 323.984C1268.93 324.709 1270.92 325.903 1272.28 327.566C1273.65 329.187 1274.33 331.34 1274.33 334.027V348.418C1274.33 349.229 1274.5 349.847 1274.84 350.273C1275.18 350.7 1275.71 350.913 1276.44 350.913H1279.45V356.99C1278.98 357.16 1278.17 357.373 1277.01 357.629C1275.91 357.928 1274.67 358.077 1273.3 358.077C1271.51 358.077 1270.09 357.864 1269.02 357.437C1267.95 357.011 1267.14 356.414 1266.59 355.646C1266.03 354.879 1265.63 354.026 1265.37 353.088H1264.93C1263.86 354.111 1262.58 355.007 1261.09 355.774C1259.64 356.542 1258.02 357.118 1256.23 357.501C1254.48 357.885 1252.56 358.077 1250.47 358.077ZM1253.22 351.105C1254.41 351.105 1255.67 350.956 1256.99 350.657C1258.32 350.359 1259.55 349.932 1260.7 349.378C1261.86 348.824 1262.79 348.12 1263.52 347.267C1264.24 346.414 1264.61 345.433 1264.61 344.325V342.534C1260.68 342.534 1257.38 342.704 1254.69 343.046C1252.05 343.344 1250.04 343.877 1248.68 344.645C1247.36 345.37 1246.7 346.393 1246.7 347.715C1246.7 348.61 1246.99 349.293 1247.59 349.762C1248.23 350.231 1249.04 350.572 1250.02 350.785C1251.05 350.998 1252.11 351.105 1253.22 351.105Z"
  ></path>
  <path 
    fill="white"
    d="M1283.8 357.309V311H1293.52V357.309H1283.8Z"
  ></path>
  </svg>
<style lang="scss">
  .lg-logo {
    display: none;
  }

  @media (min-width: 50em) {
    .lg-logo {
      display: block;
      height: 60px;
    }
  }

  @media (min-width: 60em) {
    .lg-logo {
      height: 90px;
    }
  }
  .logo_bvec {
    color: #C1AAFD;
  }

  .logo_tvec {
    color: #FFD260;
  }
</style>
