apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "streamdal.fullname" . }}-console
  labels:
    {{- include "streamdal.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "streamdal.name" . }}-console
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "streamdal.name" . }}-console
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: streamdal-console
          image: "streamdal/console:v0.1.40" # Fixed the image and tag definition
          ports:
            - containerPort: 8080
          nodeSelector:
            kubernetes.io/hostname: ip-10-0-22-194.us-west-2.compute.internal
          env:
            - name: STREAMDAL_CONSOLE_GRPC_WEB_URL
              value: "http://streamdal-server.{{ .Release.Namespace }}.svc.cluster.local:8083"
            - name: STREAMDAL_CONSOLE_GRPC_AUTH_TOKEN
              value: {{ .Values.env.STREAMDAL_SERVER_AUTH_TOKEN | quote }}
            - name: STREAMDAL_CONSOLE_DEMO
              value: {{ .Values.env.STREAMDAL_CONSOLE_DEMO | quote }}
            - name: STREAMDAL_CONSOLE_SENTRY_KEY
              value: {{ .Values.env.STREAMDAL_CONSOLE_SENTRY_KEY | quote }}
            - name: STREAMDAL_CONSOLE_GOOGLE_ANALYTICS_KEY
              value: {{ .Values.env.STREAMDAL_CONSOLE_GOOGLE_ANALYTICS_KEY | quote }}
            - name: STREAMDAL_CONSOLE_PORT
              value: "8080"
            - name: STREAMDAL_CONSOLE_PRODUCTION
              value: "true"
          volumeMounts:
          - mountPath: /root/.cache
            name: esbuild-cache
      volumes:
      - name: esbuild-cache
        emptyDir: {}
