---
type Props = {
  size: number;
};

const { size } = Astro.props as Props;
---

<svg
  id="lg-header-logo"
  height={size}
  viewBox="0 0 605 527"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  style="width: auto;"
  class="mobile-logo"
>
<title>Streamdal Logo</title>
  <path
    class="logo_bvec"
    d="M453.14 413.431L491.2 451.492L528.865 413.826V413.036L491.2 375.371L453.14 413.431Z"
  ></path>
  <path
    class="logo_tvec"
    d="M177.9 113.292C177.9 134.364 194.889 151.353 215.96 151.353C237.032 151.353 254.02 134.232 254.02 113.292C254.02 93.8012 239.534 77.8659 220.701 75.4954H211.219C192.386 77.8659 177.9 93.8012 177.9 113.292Z"
  ></path>
  <path
    fill="white"
    d="M525.575 185.199C524.126 177.429 522.151 169.79 519.648 162.415C517.673 156.489 515.302 150.958 512.668 145.426C499.235 119.482 477.374 98.8057 450.639 86.6896C448.927 85.8994 447.215 85.2409 445.503 84.4507C444.45 84.0556 443.264 83.5289 442.211 83.1338C439.445 82.0802 436.548 81.1583 433.651 80.3681C432.992 80.1047 432.334 79.973 431.675 79.8413C428.514 79.0512 425.354 78.261 422.061 77.6025C421.534 77.4708 421.008 77.3391 420.481 77.3391C417.188 76.6806 413.764 76.2855 410.34 76.0221C409.945 76.0221 409.418 76.0221 409.023 75.8905C405.336 75.7588 401.648 75.4954 397.961 75.4954C395.327 75.4954 392.825 75.6271 390.191 75.7588C389.269 75.7588 388.479 75.8905 387.557 76.0221C385.976 76.1538 384.264 76.2855 382.684 76.5489C381.63 76.6806 380.445 76.8123 379.392 76.944C378.206 77.0757 376.889 77.3391 375.704 77.6025C339.092 83.9239 307.88 105.654 288.784 135.944H390.981L276.932 249.993C276.932 249.993 259.021 267.904 242.427 284.498C228.072 298.853 214.639 312.286 214.639 312.286L75.3041 451.357H139.704L202.26 388.802H228.994L165.78 452.016H230.179L293.394 388.802H308.934L358.979 438.846H323.157V452.016H453.405V438.846H426.012L384.923 397.889L390.322 385.904C469.209 370.627 528.867 301.223 528.867 217.859C528.867 206.665 527.682 195.866 525.575 185.199ZM405.731 438.846H379.26L338.697 398.284L342.912 388.802L355.818 388.933L405.731 438.846ZM397.171 114.082C392.561 114.082 388.874 110.395 388.874 105.786C388.874 101.176 392.561 97.4887 397.171 97.4887C401.78 97.4887 405.467 101.176 405.467 105.786C405.599 110.395 401.78 114.082 397.171 114.082Z"
  ></path>
</svg>
<style>
  .mobile-logo {
    display: block;
    height: 60px;
  }

  @media (min-width: 51.8125em) {
    .mobile-logo {
      display: none;
    }
  }
  .logo_bvec {
    fill: #C1AAFD;
  }

  .logo_tvec {
    fill: #FFD260;
  }
</style>
