---
import { NavMenu } from "../components/nav/menu";
export interface Props {
  title: string;
}

const { title } = Astro.props;
import "../styles/global.css";
import React from "react";
import { RuleSetAddEdit } from "../components/rules/rulesetAddEdit";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Streamdal Embedded Console" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-screen">
    <div class="flex flex-col w-full text-web">
      <div
        class="sticky top-0 flex flex-row justify-between h-16 bg-web w-full items-center"
      >
        <a href="/">
          <img src="/images/logo-dark.png" class="w-44 h-fit ml-4" />
        </a>
        <NavMenu client:load client:only />
      </div>
      <div class="m-6">
        <slot />
      </div>
    </div>
  </body>
</html>
