name: Console - Pull Request

on:
  pull_request:
    paths:
      - 'apps/console/**'
      - '.github/workflows/apps-console-pr.yml'

defaults:
  run:
    working-directory: ./apps/console

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Test
        run: deno task ok
