name: Build master
on:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2.1.3
        with:
          go-version: '~1.18'
      - uses: actions/checkout@master
      - name: Master buld tests
        run: |
          make test

  build:
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - uses: actions/checkout@master
      - name: Docker Login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.REPO_USER }}
          password: ${{ secrets.CR_PAT }}
      - name: Run build & push
        run: |
          make docker/build
          make docker/push
      - name: Zip Project
        run: zip -r ${GITHUB_REPOSITORY#*/}.zip .
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: Copying repository zipfile to AWS S3
        run: |
          aws s3 cp ${GITHUB_REPOSITORY#*/}.zip s3://${{ secrets.AWS_S3_ARCHIVE_BUCKET }}/${GITHUB_REPOSITORY#*/}/${GITHUB_REPOSITORY#*/}.zip
